@use '../../../../styles/variables.scss';

.noteCard {
    position: relative;
    background-color: #fff;
    padding: 15px 15px 15px 25px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.01);
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border: 5px solid variables.$primary-blue;
    }
}

.noteCardHeader {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 22px;
    margin-bottom: 15px;
}

.actionButtons {
    display: flex;
    gap: 10px;
}

.noteText {
    color: #404040;
    max-width: 90%;
}
