.layout {
    display: flex;
    align-items: flex-start;
}

.mainContent {
    padding: 50px;
    background-color: #f6f3f3;
    flex: 1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    max-width: 900px;
}

.topBar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}

.categoryTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
