@use '../../../../styles/variables.scss';
.tagbar {
    display: flex;
    gap: 20px;
}

.tag {
    background-color: variables.$primary-blue;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    &.shopping {
        background-color: variables.$purple;
    }

    &.business {
        background-color: variables.$orange;
    }

    &.active {
        border: 2px solid #e7e5e5;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
}
