@use '../../../../styles/variables.scss';
.tagbar {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    max-width: 100%;
    width: 100%;
    padding: 10px 0;
}

.tag {
    background-color: lightgray;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    min-width: 100px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    flex-shrink: 0;

    &.active {
        border: 2px solid #e7e5e5;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
}
